.work-item {
   width: 40rem;
   background-color: #1B1A1F ;
   display: flex;
   justify-content: left;
   flex-direction: row;
   border-radius: 10px;
}

.work-img {
   width:285px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.description {
   margin-left: 20px;
   display: flex;
   flex-direction: column;
}